# URLs
COLOR_URL=
TEST_STREAM_URL=  # from app: IP Webcam

# connection -- True/False
CAMERA_CONNECT=
COLOR_CONNECT=
CAMERA_SERVO_CONNECT=

# correction
BALL_DIAMETER=
HFOV=65  # use correction.py to get this value

# car info
SPEED=41.5 # 41.5 cm/s
ACCE_DECE_DIST=25  # 25 cm, distance for accelerating and decelerating
